@page "/Account/Register"
@model MidtermTodos.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Register</h1>

            <form method="post">
                <h1 class="h3 mb-3 fw-normal">Create a New Account</h1>
                <ht />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" placeholder="jerry8810" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
                <div class="form-group mb-3">
                    @* <p>
                    <a asp-page="./ForgotPassword">Forgot your password?</a>
                    </p> *@
                    <p>
                        <a asp-page="/Login">Already has a account</a>
                    </p>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
