@page
@model MyFriends.Pages.LoginSuccessModel
@{
    ViewData["Title"] = "LoginSuccess";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>Login succeeded.
        <a class="nav-link" asp-page="/index">Click here to continue.</a>
    </p>
}
